<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Focus-Up</title>
	<link rel="stylesheet" type="text/css" href="product.component.scss">

</head>
<body>

  <header>
    <div class="header-content">
      <div class="logo">Focus-Up</div>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Objectives</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </nav>
    </div>
  </header>
  
  <div class="content">
    <h1>Welcome , User!</h1>
    <h2>Tus Objetivos : </h2>
    <div class="objectives-container">
      <div *ngFor="let objetivo of objetivos" class="objective-card">
        <h3>{{ objetivo.nombre }}</h3>
        <p>{{ objetivo.descripcion }}</p>
        <p><strong>Prioridad:</strong> {{ objetivo.prioridad }}</p>
        <p><strong>Categoría:</strong> {{ objetivo.categoria }}</p>
        <p><strong>Creado el:</strong> {{ objetivo.fechaCreacion | date:'shortDate' }}</p>
        <p><strong>Finalización:</strong> {{ objetivo.fechaFinalizacion | date:'shortDate' }}</p>
        <span class="tag">En progreso</span>
      </div>
    </div>
  </div>
  
</body>
</html>

