<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Focus-Up</title>
	<link rel="stylesheet" type="text/css" href="product.component.scss">

</head>
<body >

  <header>
    <div class="header-content">
      <div class="logo">Focus-Up</div>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Objectives</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="content">
    <h1>Welcome , User!</h1>
    <h2>Tus Objetivos : </h2>
    <div class="objectives-container">
      <app-objetive-card *ngFor="let objetivo of objetivos" [objetivo]="objetivo"></app-objetive-card>
    </div>
  </div>
<app-add-objetive-buttom (openForm)="openObjectiveForm()"> </app-add-objetive-buttom>

</body>
</html>

